* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

button {
	color: white;
	padding: 10px;
	width: 9rem;
	font-size: 1rem;
	font-weight: 600;
	border-color: transparent;
	border-radius: 25px;
}

nav {
	padding: 5px;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.right-nav {
	float: right;
}

nav li {
	list-style-type: none;
	display: inline-block;
}

.nav, .nav-logo {
	margin: 8px;
	padding: 3px;
}

#logo {
	padding-top: 8px;
	padding-left: 5px;
}

#nav-button {
	background-color: #c2195b;
}


#bg-image {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: white;
}

.container {
	text-align: right;
	width: 40%;
	position: relative;
	left: 50%;
}

.title {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	font-weight: 600;
}

.subtitle {
	font-size: 1.3rem;
	font-weight: 400;
	width: 75%;
	margin-left: 9rem;
	margin-top: 2rem;
}

#apply-button {
	margin-top: 2px;
	background-color: #c2195b;
}

#main {
	padding-top: 70px;
	text-align: center;
}

.title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	font-weight: 600;
}

.description {
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 1.5rem;
}

#book-button {
	background-color: #336589;
}

footer {
	margin-top: 30px;
	padding: 5px;
	text-align: center;
}

footer span {
	margin-left: 2px;
	margin-right: 2px;
	font-weight: 300;
}